h1{
    background-color:gray;
    color:pink;
}
h1{
    color: brown;
    background-color: pink;
}
.square{
    height: 500px;
    width: 500px;
    color: pink;
    background-color: powderblue;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#flex{
    

    display: flex;
    flex-wrap: wrap;
}